@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');


/*---------------General-------*/
body {
    font-family: "Itim", sans-serif;
    margin: 0px;
    padding: 0px;
     color: #aaaaaa;
    background-color: #383838;
    text-align: center;
}



/*---------------Navigation Bar-------*/
nav {
    margin: 0;
    padding: 0;
    line-height: 25px;
    width: 100%;
    
}
.navbar-toggler {
    margin-bottom: 11px;
    background-color: #343a40;
    border: 2px solid #343a40;
    border-radius: 5px;

}

.navbar-toggler-icon {
     color: #ffc107;
}

.navbar-toggler:hover {
    background-color: #343a40;
}

/*---------------logo-------*/
.logo {
    font-size: 25px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

/*-collapse navbar-*/

.nav-bar-item a {
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    width: 100%;
}

.navbar-dark .navbar-toggler {
    border-color: #ffc107;
}

button:focus {
    background-color: #777777;
}
/*-hero images-*/

#hero-outer {
    width: 100%;
    height: 600px;
    overflow: hidden;
}
.hero-image {
    background: url("../images/physicaltherapy.jpg") no-repeat bottom right fixed;
    min-height: 400px;
    width: 100%;
    height: 600px;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    animation: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forward;
}

@keyframes hero-zoom{
     from{
         transform: scale(1);

     }
     to{
         transform: scale(1.1);
     }
}
/*-Credit to CodeInstitute for teaching animations-*/


.relaxation {
    background: url("../images/relaxation2.jpg") no-repeat center fixed;
    width: 100%;
    height: 700px;
    background-size: cover;
}
/*Credit to Ryan, Cunningham and Hipwallpaper.com*/

.therapy {
    float: center;
    background-color: transparent;
    padding-top: 0px;
    padding-right: 0px;
}

.quote {
    color: #080808;
}

.therapy-quote {
    color: #080808;
}
/*information*/
.container-fluid {
    padding: 0px;
    margin: 0px;
}

.information{
    width: 100%;
    height: 300px;
    background-color: #ffcd82;
    text-align: center;
    padding-top: 15px;
    background-size: cover;
}

.information-heading {
    display: inline;
    font-family: "Montserrat" sans-serif;
    color: #777777;
    font-size: 25px
}

/*-Services-*/

.image-therapy {
    background: url("../images/run1.jpg") no-repeat center fixed;
    width: 100%;
    height: 700px;
    background-size: cover;
    
}
/*-Credit to Dioni De Guzman,PT and Hipwallpaper.com-*/




/*-footer-*/

footer {
    background-color: #777777;
}

.social-media {
    text-align: right;
    color: #ffffffbe;
    

}

.company-address {
    text-align: left;
    font-size: 150%;
    letter-spacing: 2px;
    color: #ffffffbe;
}

.company-address h5 {
    font-size: 150%;
    letter-spacing: 2px;
}



/*-Contact-*/


.btn {
  background-color: #6cd268;
  color: #777777;
  border-radius: 5px;
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.404);
}